html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card {
    width: 327px;
    border-radius: 9px;
    margin: auto;
}

.card__vehicle-type {
    padding: 50px 56px 49px 48px;
    background-color: hsl(31, 77%, 52%);
}

.card__vehicle-type--dark-cyan {
    background-color: hsl(184, 100%, 22%);
}

.card__vehicle-type--very-dark-cyan {
    background-color: hsl(179, 100%, 13%);
}

.card__vehicle-type:first-child {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.card__vehicle-type:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.card__icon {
    content: url(images/icon-sedans.svg);
}

.card__icon--suvs {
    content: url(images/icon-suvs.svg);
}

.card__icon--luxury {
    content: url(images/icon-luxury.svg);
}

.card__type-name {
    font-size: 2.5rem;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin-top: 35px;
}

.card__type-desc {
    font-size: .9rem;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.7;
    margin-top: 26px;
}

.btn__learn {
    display: inline-block;
    border: none;
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 25px;
    padding: 12px 28px;
    margin: 25px 0 0 0;
    text-decoration: none;
    text-align: center;
    transition: all 200ms;
}

.btn__learn:hover {
    background-color:hsla(0, 0%, 95%, 0);
    color: hsl(0, 0%, 95%);
}

.btn__learn--dark-cyan {
    color: hsl(184, 100%, 22%);
}

.btn__learn--very-dark-cyan {
    color: hsl(179, 100%, 13%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(179, 100%, 13%);
}

.attribution a {
    color: hsl(31, 77%, 52%);
}

@media screen and (min-width: 921px) {
    .card {
        width: 920px;
        display: flex;
    }
    
    .card__vehicle-type {
        flex-basis: 33.3%;
    }
    
    .card__vehicle-type:first-child {
        border-radius: 9px 0 0 9px;
    }
    
    .card__vehicle-type:last-child {
        border-radius: 0 9px 9px 0;
    }

    .btn__learn {
        margin-top: 84px;
    }
}